body {	font-family: Verdana, Arial, sans-serif;
       font-size:10px;
       margin-top:0px;
       margin-left:0px;
       margin-right:0px;
       margin-bottom:0px;
       background-color:#ffffff;
}
table {	
    width: 100%;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-collapse:collapse;
}
td { font-size: 11px; 
}
a { color:#696969; 
    text-decoration:none;
}
select { font-size:13px;
}
submit { background-color:#EBCCA4;color:#874221;cursor:hand;border-style:groove;
}
.fixo { font-family: arial; 
}	
.tableHeader { border-color:#808080;
               border-top-style:solid;
               border-top-width:1;
               border-bottom-style:solid;
               border-bottom-width:1;
               background-color:#D1E1E4;
               padding-top:2;
               text-align:left;
               font-size:12px;
               font-weight:bold;

}
.columHeader {border-color:#808080;
              background-color:#DCDCDC;
              border-bottom-style:solid;
              border-bottom-width:2;
              font-size:12px;
              font-weight:bold;
}
.rowBlank { background-color:#EAF0F2;
}
.rowColor { background-color:#DCDCDC;
}
.columTotal { background-color:#EBCCA4;
              font-weight: bold; 
}
.observacao { border-color:#A9A9A9;
              border-top-style:solid;
              border-top-width:2;
              border-bottom-style:solid;
              border-bottom-width:1;
              padding-top:5;
              font-size:11px;
              color:0000cd;

}
.formLabel { width:100;
             text-align: right;
             vertical-align: bottom; 
}
.formField { text-align: left; 
             vertical-align: bottom;
}
input {
    font-size: 100%;
    font-family: Verdana, Arial, sans-serif;
    cursor: hand; 
}
.botao  {  font-family: Verdana, Arial; 
           font-size: xx-small; 
           font-weight: bold; 
           color:white; 
           background-color: #808080; 
           background-repeat: repeat;
           background-attachment: scroll; 
           cursor: hand;
           background-position: 0% 50%;
}
.menu  { font-family: Verdana, Arial; 
         font-size: 11; 
         font-weight: bold; 
         font-style:oblique;
         color:#874221; 
         cursor: hand;
}

table#tabmenu {
    margin-bottom: 0px;
}

td.tab, td.selectedtab, td.tabspacer, td#contentscell {
    border: 3px solid black;
    cursor: hand;
    nowrap: false;

}

td.tabspacer {
    border-width: 0 0 2px;

}

td.tab {
    background:#8DB1BA;
    cursor: pointer;
    font-size:13px;
    font-weight: bold;
    color: black;
    width: 18%;
    padding: 0px;
    border-width: 2px 1px 2px 2px;
    border-color: #ffffff;
}

td.selectedtab {
    border-bottom: 0 solid #8DB1BA;
}

td.selectedtab, td#contentscell {
    background: #993366;
    font-size:13px;
    font-weight: bold;
    color: white;
    width: 18%;
    padding: 3px;
    border-width: 2px 1px 3px 2px;
    border-color: #666666;
}

.contentscell {
    background: #f5f5f5;
    padding: 10px;
    border: 2px solid #666666;
}

td#contentscell {
    border-width: 0px 1px 1px;
    padding: 5px;
}

div.contents {
    display: none;
}

div.selectedcontents {
    display: block;
}

.myhidden {
    visibility: hidden;
    display: none;
}
.separator {
    background-color:#afc4d9;
    text-align: center;
    font-family: Arial;
    font-size:12px;
    font-weight:bold;

}

.separatorTable {
    border: solid 2;
}

