.bsTabset { 	
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 2px outset;
    font-family:arial,helvetica,sans-serif;
    font-size: 12px;
    background-color:#FFFFFF;
}
.bsTabsetActive {
    border-bottom: 1px solid #b0c4d8;;
    cursor: default;
    padding-top:3px;
    padding-bottom:2px;
    vertical-align:middle;
    padding-left:5px;
    padding-right:5px;
    margin-left:-2px;
    margin-right:-0px;
}
.bsTabsetInactive {
    border-bottom: 0px solid white;
    cursor: hand; cursor:pointer;
    padding-top:1px;
    padding-bottom:0px;
    vertical-align : bottom;
    padding-left:3px;
    padding-right:3px;
    margin-left:0px;
    margin-right:0px;
}
.tabsetContentDiv {
    background-color:white;
    border-top:0px solid white; 
    border-right:1px solid white;
    padding:2px;
}
.tabsetTabsDiv {
    border-bottom:0px solid white;
    background-color:transparent;
}
.navigatorButtonTable {
    text-align:center;
}
