.dtree {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
}
.dtree img {
    border: 0px;
    vertical-align: middle;
}
.dtree a {
    color: #333;
    text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
    white-space: nowrap;
    padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
    color: #333;
    text-decoration: underline;
}
.dtree a.nodeSel {
    background-color: #c0d2ec;
}
.dtree .clip {
    overflow: hidden;
}

td {
    font-size: 11px; 
}

.bodytree {
    scrollbar-3dlight-color: white;
    scrollbar-arrow-color:#b0c4d8;
    scrollbar-base-color:silver;
    scrollbar-darkshadow-color:#80786E;
    scrollbar-face-color:#F5F5F5;
    scrollbar-highlight-color:#C2BEB8;
    scrollbar-shadow-color:#b0c4d8;
    scrollbar-track-color:white;
}

.menuBar {
    background-color: #b0c4d8;
    border: 2px solid;
    border-color: #f0f0f0 #909090 #909090 #f0f0f0;
    text-align: left;
    font-family: "MS Sans Serif", Arial, sans-serif;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
}