div.menuBar, div.menuBar a.menuButton, div.menu, div.menu a.menuItem {
    font-family: "MS Sans Serif", Arial, sans-serif;
    font-size: 8pt;
    font-style: normal;
    font-weight: normal;
    color: #b0c4d8;
}

div.menuBar {
    background-color: #b0c4d8;
    border: 1px solid;
    border-color: #f0f0f0 #909090 #909090 #f0f0f0;
    padding: 1px 0px 1px 1px;
    text-align: left;
}

div.menuBar a.menuButton {
    background-color: transparent;
    border: 1px solid #b0c4d8;
    color: #000000;
    cursor: default;
    left: 0px;
    margin: 1px;
    padding: 0px 0px 0px 6px;
    position: relative;
    text-decoration: none;
    top: 0px;
    z-index: 100;
}

div.menuBar a.menuButton:hover {
    background-color: transparent;
    border-color: #f0f0f0 #909090 #909090 #f0f0f0;
    color: #000000;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
    background-color: #a0a0a0;
    border-color: #909090 #f0f0f0 #f0f0f0 #909090;
    color: #ffffff;
    left: 1px;
    top: 1px;
}

div.menu {
    background-color: #b0c4d8;
    border: 1px solid;
    border-color: #f0f0f0 #909090 #909090 #f0f0f0;
    left: 0px;
    padding: 0px 1px 1px 0px;
    position: absolute;
    top: 0px;
    visibility: hidden;
    z-index: 101;
}

div.menu a.menuItem {
    color: #000000;
    cursor: default;
    display: block;
    padding: 3px 1em;
    text-decoration: none;
    white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
    background-color: #000080;
    color: #ffffff;
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
    margin-right: -.75em;
}

div.menu div.menuItemSep {
    border-top: 1px solid #909090;
    border-bottom: 1px solid #f0f0f0;
    margin: 0px 0px;
}

.mySep {
    border-left: 1px solid #909090;
    border-right: 1px solid #f0f0f0;
}
