body {
    background-image:url(img/bg_blue.png);
    background-repeat:repeat;
    font-family: Verdana, Arial, sans-serif;
    font-size:10px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    text-align:center;
}

table {
    width: 100%;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-collapse:collapse;
}

td {
    font-size: 11px; 
}

.mainTable {
    text-align:center;
}

.td10 {
    font-size:10px;
}

.obsTable {
    margin-top:10;
}

.divNavigatorTable {
    width:1%;
    border:0;
    cellpadding:0;
    cellspacing:0;
    align:center; 
}

fieldset {
    border:0px solid;
    width:0px;
}

.div10 {
    font-size:10px;
    font-weight:normal;
    text-align:right;
}

a {
    color: #000000; 
}

select {
    font-size:11px;
}

textarea {
    BORDER-RIGHT: #c2c2c2 1px solid; 
    BORDER-TOP: #c2c2c2 1px solid; 
    BORDER-LEFT: #c2c2c2 1px solid; 
    BORDER-BOTTOM: #c2c2c2 1px solid;
}


.fixo {
    font-family: courier; 
}	

.tableHeader {
    background-image:url(img/new_bar.jpg);
    background-repeat:no-repeat;
    padding-top:10px;
    padding-bottom:7px;
    font-size:14px;
    font-weight:bold;
    text-indent: 40px;
    font-family: courier, serif;
}

.columHeader {
    border-color:black;
    border-bottom-style:solid;
    border-bottom-width:1;
    font-size:12px;
    font-weight:bold;
}

.rowBlank {
    background-color:#e5f0ff;
}

.rowColor {
    background-color:#d0e1f4;
}

.totalColum {
    background-color:#70acf4;
    font-weight: bold;
    vertical-align:top;
}

.reportHeader {
    background-color:#70acf4;
    font-weight: bold; 
}

.reportPage {
    background-color:#70acf4;
    font-weight: bold; 
}

.observacao {
    border-color:black;
    border-top-style:solid;
    border-top-width:2;
    border-bottom-style:solid;
    border-bottom-width:1;
    padding-top:5;
    font-size:11px;
}

.messageHeader {
    border-color:black;

    border-bottom-style:solid;
    border-bottom-width:1;
    padding-top:5;
    font-size:11px;
}

.formLabel {
    width:100;
    text-align: right;
    vertical-align: bottom; 
}

.formField {
    text-align: left; 
    vertical-align: bottom;
}

input {
    font-size: 100%;
    font-family: Verdana, Arial, sans-serif;
    cursor: hand; 
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px
}

.botao  {
    font-family: Verdana, Arial; 
    font-size: xx-small; 
    font-weight: bold; 
    color:white; 
    background-color: #808080; 
    background-repeat: repeat;
    background-attachment: scroll; 
    cursor: hand;
    background-position: 0% 50%;
}

.menu {
    list-style-image:url(../img/mais.png);
}	

.submenu {
    list-style-image:url(../img/menu.png);
}

.portlet_bar {
    background-color:#d0e1f4;
    font-weight: bold;
    nowrap: true;
    valign: middle;
}

table#tabmenu {
    margin-bottom: 0px;
}

td.tab, td.selectedtab, td.tabspacer, td#contentscell {
    border: 1px solid black;
    cursor: hand;
    nowrap: false;
}

td.tabspacer {
    border-width: 0 0 0px;
}

td.tab {
    background: #afc4d9;
    cursor: pointer;
    font-size:13px;
    font-weight: bold;
    width: 15%;
    padding: 0px;
    border-width: 1px 1px 1px 1px;
}

td.selectedtab {
    border-bottom: 0 solid #cde1f7;
}

td.selectedtab, td#contentscell {
    background: #cde1f7;
    font-size:13px;
    font-weight: bold;
    width: 15%;
    padding: 0px;
    border-width: 1px 1px 1px 1px;
}

.contentscell {
    background: #cde1f7;
    padding: 10px;
    border: 1px solid black;
}

td#contentscell {
    border-width: 1px 1px 1px 1px;
    padding: 5px;
}

div.contents {
    display: none;
}

div.selectedcontents {
    display: block;
}

.myhidden {
    visibility: hidden;
    display: none;
}

.calCalendar {
    BORDER-RIGHT: #dddddd 2px outset; BORDER-TOP: #dddddd 2px outset; BORDER-LEFT: #dddddd 2px outset; BORDER-BOTTOM: #dddddd 2px outset; BACKGROUND-COLOR: #d4d0c8
}
.calClickable {
    CURSOR: hand; TEXT-DECORATION: none
}
.calClickable_hover {
    FONT-WEIGHT: bolder; CURSOR: hand; COLOR: #0a246a
}
.calTitleBar {
    FONT-WEIGHT: bolder; COLOR: #ffffff; BACKGROUND-COLOR: #3a6ea5
}
.calDay {
    BACKGROUND-COLOR: #d4d0c8
}
.calDayCurrent {
    BACKGROUND-COLOR: blue
}
.separator {
    background-color:#afc4d9;
    text-align: center;
    font-family: Arial;
    font-size:15px;
    font-weight:bold;
    border: solid #e6eef4 10px
}

.separatorTable {
    border: solid 2;
    Border-Collapse:separate;
    margin-top:10px;
}

.positionTr {
    align:center;
}

.positionTd {
    vertical-align:top;
    text-align:center;
}

.reportTable {
    margin-top:5px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:2px;
}

.baseForm {
    margin-top:5px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:2px;
}

.messageTable {
    margin-top:10;
}

.obsTable {
    margin-top:10;
}

.itemTable {
    margin-top:10;
}

.chartTable {
    margin-top:10;
}

.buttonTable {
    width:100%;
    margin-top:10px;
}

.navigatorButtonTable {
    text-align:center;
}

.buttonItem {
    border-color:black;
    border-top-style:solid;
    border-top-width:1;
    padding-top:5;
    font-size:11px;
}